<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="/dojos">
      <img src="{{ url_for('static', filename='images/ninja.png') }}" alt="Ninja" class="d-inline-block mb-1 logo">
      Dojos and Ninjas
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/dojos">All Dojos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/ninjas/new">Create Ninja</a>
        </li>
      </ul>
    </div>
  </div>
</nav>